
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
<html lang="en">
<head>
    <title>Birth Register</title>

</head>
<body>

<form method="POST"> 
    <section class="page-header" id="page-header" >

     <div class="content">
        <h3 style="color: #4aa6d8;"> <span style="color: #E6A24C;">Wedding</span> Register</h3>
     </div>

    </section>

    <section class="inscription" id="inscription">
     <div class="form-container">
         <br/>
         <p>Veuillez remplir ce formulaire afin d'enregistrer un nouveau-né.
            <br/><br/>* Tous les champs sont obligatoires !
         </p>
         <hr>
         {% csrf_token %}
         {{RMf}}
         
     </div>
     <div class="clearfix">
        <input type="submit" value="save"> 
     </div>
     </section>
    
</form> 
</body>
</html>
{% endblock content %}